@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --primary-color: #1A1D23;
  --secondary-color:#0ea9e6;
  --hover-color:#daa520;
  --gradinent-color: linear-gradient(311deg, #6198d8 10%, #73ead3);
  --gradinent-bg:linear-gradient(311deg, #6198d8 10%, #319783);
  
}
*{
  font-family: "Outfit", sans-serif;
  color: white !important;
  box-sizing: border-box;
  
}
section{
  padding-top: 80px;
}

/* 01 header section css Start*/


.verified-tick{
  width: 45px;
}
.logo-img{
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.b-name{
  font-size: 18px;
  margin-left: 10px;
}
.logo-img:hover, .verified-tick:hover{
  transform: scale(1.2);
}

nav ul li a:hover{
  color:#daa520 !important;  
}


/* 01 header section css End */



/* 02 hero section */
.hero{
  margin-top:6rem;
}
.hero-img{
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.hero-img:hover{
  transform: scale(1.2);
  margin-bottom: 20px;
}
.hero-h1{
  font-size: 50px;
  font-weight: 600;
  background: var(--gradinent-color);
  background-clip: text;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}
/* hero section end */

/* hero section start */
.title-main{
  font-size: 60px;
  font-weight: 700;
}
/* hero section end */

/* 03 project section start */
.box-p{
  width: 32%;
  min-width: 300px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.4s ease;
}
.box-p:hover{
  transform: scale(1.1);
  border: 2px dashed rgb(14, 169, 230) !important;
  margin: 2px;
}
.btn{
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  transform: scale(1.1);
}
/* 03 project section end */


/* 04 about section start */
.about-img{
  width: 32%;
  min-width: 300px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.about-img:hover{
  transform: scale(1.2);
}
.about-right{
  padding: 0px;
}
.about-right p{
  font-size: 20px;
    margin-bottom: 20px;
}
.about-row2 img{
  width: 100px;
  transition: all 0.3s ease-out;
}
.about-row2 img:hover{
  transform: scale(1.5);
}
/* 04 about section end */

/* 05 Service section start */
/* 05 Service section end */

/* 06 contact section start */
.contact-img-msg{
  width: 30px;
  
}
.contact li{
  list-style: none;
  width: 80%;
  padding: 10px;
}
.contact li i{
  margin-right: 5px;
}

.contact form input,.contact form textarea{
  display: block;
  width: 100%;
  background: #32323c;
  color: white;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
}
.contact form input:focus{
  /* background-color:azure; */
  color: black;
  border: 2px solid blue;
  border-radius: 13px;
}

.contact-col span{
  display: block;
  margin: 20px 0;
}
/* 06 contact section end */

/* Navegator section start */
.box-navegator{
  position: fixed;
    bottom: 10px;
    right: 10px;
    background: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.box-navegator:hover{
  transform: scale(1.1);
}
.box-navegator img{
  width: 40px;
}

